*.txt
*.afs
*.AFS
*.AFL
*.afl
*.exe
*.o
*.so
*.dll
*.pdb
*.ilk
*.exp
*.lib
*.obj
*.a
*.jar
*.sln
*.windows
examples/build.sh
examples/*/

CSharpWrapper/bin
CSharpWrapper/obj

Afster.kdev4
CMakeLists.txt
build/
.vscode
